@media screen and (max-width: 767px) {
    .login-form{
        width: 100%;
        height: 100vh;
    }

    .login-form > form{
        width: 100%;
        height: 100vh;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #img{
        width: 10px;
    }

    .form-h2{
        font-weight: 600;
    }
}
